@font-face{font-family:vz;src:url(../fonts/vz.eot);src:url(../fonts/vz.eot?#iefix) format("embedded-opentype"),url(../fonts/vz.woff) format("woff"),url(../fonts/vz.ttf) format("truetype"),url(../fonts/vz.svg#vz) format("svg");font-weight:400;font-style:normal}